

.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}
/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .column-header,.table-view .column-header-background .filler { 
	-fx-background-color: #005063;
}
.table-view .column-header .label{ 
	-fx-text-fill: white;
	-fx-font-weight: bold; 
	-fx-alignment: CENTER_LEFT;
}
.table-view .cell{ 
	-fx-cell-size: 35;
	-fx-alignment: center-left; 
	-fx-background-color: #29292D;
	 -fx-border-color: #29292D; 
	 -fx-text-fill: lightgray; 
	 -fx-alignment: CENTER_LEFT;
}
.table-row-cell:selected {
	-fx-background-color: whitesmoke;
	 -fx-text-background-color: #6622CC;
}
 .table-view .increment-button ,.table-view .decrement-button { 
 	-fx-background-color:transparent;	
 	-fx-background-radius: 2em;
 }
  .button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}
.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.button:pressed {

    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


